{% extends "base.html" %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title.errors }}
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.text.errors }}
        {{ form.text.label_tag }}
        {{ form.text }}
    </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
{% endblock %}
